<body class="page_body">
  <%= render 'shared/messageflash'%>

<% if @public_recipes.empty?%>
        <%= render 'shared/nodatacard', :message => "No public recipes found."%>
      <% else %>


   <% @public_recipes.each do |public_recipe| %>
      <%= link_to recipes_show_path(public_recipe.id), class: "link_style" do%>
           <div class="blog-slider new-shadow new-height link-style recipe-info-container">

<div class="">
          <h2> <%=public_recipe.name%></h2>
          <p>Name: <%=public_recipe.user.name%></p>
        </div>
        <div>
          <p>Total food items:    <%= Recipe.count(public_recipe.id) %></p>
          <p>Total price: $ <%= Recipe.total(public_recipe.id) %></p>
        </div>
      </div>
    <%end%>
    <%end%>
    <%end%>

  

</body>
