<body class="page_body">
  <%= render 'shared/messageflash'%>
  <h2 class="blog-slider__title title-center"><%= current_user.name %>'s recipes</h2>

  <%= link_to recipes_new_path, class: "link_style title-center" do %>
              <button class="button-29" role="button">Create new recipe</button>
              <% end %>
            </div>

    
  <% @recipes.each do |recipe|%>
    <%= link_to recipes_show_path(recipe.id) do %>
  <div class="blog-slider">
  <div class="recipes-container-info">
        <div class="recipe-card-info">
          <h3><%= recipe.name %></h3>
          <%= button_to "Remove", delete_recipe_path(recipe.id), method: :delete %>
        </div>
        <div class="recipe-card-about">
          <p><%= recipe.description %></p>
        </div>
  </div>
</div>
    <% end %>
  <% end %>
</body>