<table class="table table-bordered table-dark">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Food</th>
        <th scope="col">Unit</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
  <tbody>
  <% foods.each do |food|%>
      <% @food_info = Food.find(food.food_id)%>
    <tr>
      <th scope="row"><%= @food_info.id%></th>
      <td><%=@food_info.name%></td>
      <td><%= (@food_info.price * food.quantity)%> <%= @food_info.measurement_unit%></td>
      <td><%= button_to inventories_destroy_foods_path(inventory.id, food.food_id), method: :delete, class: "delete-button-active" do %>
                <ion-icon name="trash-outline"></ion-icon>
      <% end %>
      </td>
    </tr>
  </tbody>
    <%end%>
</table>