<div class="new-recipes-container">
  <h1>Update quantity</h1>
  <%= form_with model: @food_recipe, url: update_food_recipes_path(params[:recipe_id], params[:food_recipe_id]), method: :put do |f| %>
    <div>
      <%= @food.name%>
    </div>
    
    <div>
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity, min: 0 %>
    </div>
    
    <div>
      <%= f.submit 'Update' %>
    </div>
  <% end %>
</div>